.FourthPage{
    height: 100vh;
    width: 100vw;
    background-color: #383838;
}

.fourthtext{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 7vh;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    top: 40%;
    position: relative;
    transform: translateY(-50%);
}
.SignUp{
    width: 12vw;
    height: 8vh;
    background-color: #74B85D;
    border-radius: 20px;
    border: 0px;
    font-size: 2.5vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    position: relative;
    margin-top: 20%;
    margin-left: 45%;
}